<body class="bg-light">

    <div class="container">
      <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <img src="https://via.placeholder.com/150" alt="Imagen de Error" class="mb-4 rounded-circle">
              <h1 class="card-title mb-4">¡Sin permisos!</h1>
              <p class="card-text mb-4">Lo sentimos, pero no tienes permisos para acceder a esta página o realizar esta acción.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</body>