<br> <br><br><br><br><br>
<div class="input-group mb-3 col-5">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
  </div>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
  />
  
  >
</div>
<br> <br><br><br><br><br>
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Birth</th>
        <th>Breed</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dog of dogsRepo.pets$ | async">
        <td>{{ dog.id }}</td>
        <td>{{ dog.name }}</td>
        <td>{{ dog.birthdate }}</td>
        <td>{{ dog.breed }}</td>
        <td>{{ dog.status }}</td>
        <td>
            <button class="btn btn-danger" (click)="update(dog.id)">
              {{ dog.status ? 'Desactivar' : 'Activar' }}
            </button>
        </td>
          
      </tr>
    </tbody>
  </table>
  